[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

django = ">=1.11.7,<2.0.0"
djangorestframework = ">=3.7.1,<4.0.0"
coreapi = ">=2.3.3,<3.0.0"
django-filter = "*"
